img {
  width: 30px;
}

.scale {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}

.radioBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -70px;
}

input {
  visibility: hidden;
}

label {
  cursor: pointer;
}

.emotion {
  border: 4px solid black;
  border-radius: 50%;
  padding: 3px;
  width: 13%;
}

h3 {
  font-size: 20px;
}
