body {
  background-color: #ebf5fd;
  overflow: hidden;
}
/* React Wavify */
.waves {
  height: 70vh;
  bottom: -50px;
  position: absolute;
}
/* login titles */
.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-size: 52px;
  margin-top: 150px;
  color: #a0bfdd;
}
/* all inputs and buttons */
.inputs {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
/* ID input */
.usernameInput {
  z-index: 3;
  width: 60%;
  height: 40px;
  padding: 20px;
  color: #b1b1b1;
  background: rgba(219, 230, 245, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: 0;
  user-select: none;
  outline: 0;
}
/* password input */
.passwordInput {
  z-index: 3;
  width: 60%;
  height: 40px;
  padding: 20px;
  color: #b1b1b1;
  background: rgba(219, 230, 245, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: 0;
  user-select: none;
  outline: 0;
}
/* Login button */
.loginButton {
  z-index: 3;
  transform: scale(150%);
  padding: 3px 30px;
  color: #f2f2f2;
  background: #a8c9e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: 0;
}
/* Login by email */
.loginchanger {
  z-index: 3;
}
