body {
  background-color: #ebf5fd;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #cee1f3;
}

.logo img {
  height: 60px;
  margin: auto;
}

.homeVerticalList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 40px;
}
