body {
  background-color: #ebf5fd;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #cee1f3;
}
.quest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstone {
  background-color: #dad8d8;
  height: 100px;
  width: 342px;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

ul {
  list-style-type: none;
}
