@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
body {
  /* background-color: #cee1f3 !important; */
  /* height: 400px !important; */
  overflow: hidden !important;
}

.surveyBackground {
  background-color: #cee1f3 !important;
  /* overflow: hidden !important; */
}

.survey {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-size: 20px;
  height: 1500px;
  font-family: Raleway, sans-serif;
  background-color: #cee1f3 !important;
}

.header {
  background-color: #cee1f3 !important;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  color: #504cee;
  font-weight: 500;
}

.instructionsBtn {
  position: absolute !important;
  top: 8px !important;
  left: 15px !important;
  background-color: transparent !important;
  border-radius: 20px !important;
  width: 15px !important;

  border: 2px solid navy !important;
  color: rgb(99, 99, 99);
  display: flex !important;
  justify-content: center !important;
  font-family: 'Merriweather', sans-serif !important;
  font: 50px !important;
}

.prevQ {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(233, 229, 229) !important;
  border: 1px solid rgb(74, 153, 177) !important;
  position: fixed !important;
  bottom: 50px !important;
  left: 60px !important;
  transform: scale(1.7) !important;
  /* font-size: 40px !important; */
}
.nextQ {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(233, 229, 229) !important;
  border: 1px solid rgb(74, 153, 177) !important;
  position: fixed !important;
  bottom: 50px !important;
  right: 50px !important;
  transform: scale(1.7) !important;
}

.progressBar {
  width: 250px !important;
  margin-top: 100px !important;
}

img {
  /* margin-left: 40%; */
  position: absolute !important;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
