@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

.ant-typography {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 44px;
  padding: 7px;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 18px;

  border-radius: 10px;
}

.ant-space,
.ant-space-vertical {
  gap: 26px !important;
  transform: scale(1.5);
  margin-top: 63px;
  margin-left: 50px;
}

.ant-btn-secondary {
  display: flex !important;
  justify-content: center;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(141, 191, 206) !important;
  border: 1px solid rgb(85, 84, 84) !important;
  margin: -20px auto;
  transform: scale(1.8) !important;
}
