@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
.question {
  background-color: #c4c4c4;
  margin-top: -40px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 22px;
}

.choices {
  font-family: 'Raleway', sans-serif;

  height: 350px;
  color: black;
}
